.Header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  box-shadow: var(--desport-shadow);
  background-color: var(--white) !important;
  height: 70px;
  border-radius: 20px;

  &__toolbar {
    width: 100%;
    justify-content: space-between;
  }
}
