:root {
  --desport-primary-text: #242323;
  --desport-secondary-text: #b2b2b2;

  --desport-main-color: #0053da;
  --desport-secondary-color: #111c4e;
  --desport-third-color: #b6e74d;

  --desport-bg-main: #f8f8f8;

  --Gilroy__500: 'GilroyMedium';
  --Gilroy__600: 'Gilroy';
  --Gilroy__800: 'GilroyBold';

  --time-animation-default: 0.3s;
  --time-animation-fast: 0.15s;
  --desport-shadow: 0 10px 46px 0 rgba(0, 0, 0, 0.051);

  --white: #ffffff;
}
